@import url("./normalize.css");

#mainWrapper{
    width: 100%;
}

#rankCompareSection{
    width: 100%;
    height: 1600px; /*remove*/
}

#leftColumn{
    width: 50%;
    height: 1600px; /*remove*/
    float: left;
    background-color: #444;
}

#rightColumn{
    width: 50%;
    height: 1600px; /*remove*/
    display: inline-block;
    background-color: #404040;
}

.rank{
    display: block;
}

.rank-leftColumn{
    display: block;
    margin-left: auto;
    margin-right: 20px;
}

.rank-rightColumn{
    margin-left: 20px;
}